<div class="page">
  <img src="/images/celeb/edit-c.jpg" alt="register" class="image">
  <form class="search-c" action="/celebrities/{{celebrity.id}}" method="POST">
    <h2>Edit celebrity</h2>
    <div class="mb-3 transparent width-550">
      <input type="text" name="name"
        class="custom-form-control form-control py-2 ps-4" 
        aria-label="Celebrity name" value="{{ celebrity.name }}">
    </div>
    <div class="mb-3 transparent width-550">
      <input type="text" class="custom-form-control form-control py-2 ps-4"
        name="occupation"  aria-label="Celebrity Occupation" value="{{ celebrity.occupation }}">
    </div>
    <div class="mb-3 transparent width-550">
      <input type="text" name="catchPhrase" class="form-control"
      aria-label="Celebrity CatchPhrase" value="{{ celebrity.catchPhrase }}">
    </div>
    <button type="submit" class="btn transparent" style="color: white;">Submit</button>
  </form>
</div>