<div class="page">
<img src="/images/register.jpg" alt="register" class="image">
<form class= "center-search" action="/celebrities" method="POST">
<h2>Add new celebrity</h2>
  <div class="mb-3 transparent">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3 transparent">
    <label for="occupation" class="form-label">occupation</label>
    <input type="text" class="form-control" id="occupation" name="occupation" required>
  </div>
  <div class="mb-3 transparent">
    <label for="catchPhrase" class="form-label">catchPhrase</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>