<div style="color: rgb(255, 255, 255);">
  <img src="/images/celeb/210202.png" alt="list" class="image-2 page">
  <h1>Celebrities we got:</h1>
  <div class="flex-cards">
    {{#each celebrities as |celebrity|}}
      {{>card celebrity}}
   {{/each}}
</div>
</div>