<div class="transparent center-card">
  <h2>{{this.name}}</h3>
  <h3>{{this.occupation}}</h4>
  <p>{{this.catchPhrase}}</p>
  <button>
    <a href="/celebrities/{{this._id}}" class="  transparent">See more</a>
  </button>
</div>