<nav class="navbar navbar-expand-lg transparent">
  <div class="container-fluid">
    <a class="navbar" id="color-a" href="/">Wonderful world</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link " id= "color-a" aria-current="page" href="/celebrities/new">Add one</a>
        <a class="nav-link" id= "color-a" href="/celebrities">Celebrities</a>
        {{!-- {{#if currentUser}} --}}
          <a class="nav-link" id= "color-a" aria-current="page" href="/profile">Profile</a>
          <a class="nav-link" id= "color-a" href="/logout">Logout</a>
        {{!-- {{else}} --}}
          <a class="nav-link" id= "color-a" href="/register">Register</a>
          <a class="nav-link" id= "color-a" href="/login">Login</a>
        {{!-- {{/if}} --}}
      </ul>
    </div>
  </div>
</nav>

