<div class="page">
  <img src="/images/obj.jpg" alt="Home" class="image">
  <div class="search-c width-550">
    <h1>{{title}}</h1>
    <h2>Movies and Stars</h2>
    <h3>Let's go</h3>
    <h3>-------</h3>
    <h3>-----</h3>
    <h3>---</h3>
    <h3>-</h3>
  </div>
  
</div>  