<div class="page">
  <img src="/images/error.jpg" alt="error" class="image">
  <div class="center-search">
    <h1>404 Error</h1>
    <h2>This route does not exist on the app! Check if everything is ok!</h2>
  </div>
</div>