
body {
  text-align: center;
  font-family: 'FuturaRennerRegular';
  font-weight: normal;
  font-style: normal;
}
nav {
  background-color: lightgray;
  z-index: 1;
}
ul, li {
  list-style-type: none;
}
label{
  font-size: 1.5em;
}
#color-a{
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(35, 16, 53);
}
h1{
  font-size: 4.5em;
}
.page{
  position: fixed;
  width: 100%;
}
.page img{
  position: absolute;
  top: -100;
  left: 0;
  margin: 0;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}
.image-2{
  position: absolute;
  background-size: cover;
  top: -100;
  left: 0;
  margin: 0;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}
a{
  color: rgb(31, 30, 30);
}
.center{
  margin: 100px 0 0 350px;
  position: absolute;
  text-align: center;
}
.search-c{
  margin: 50px 0 0 350px;
  position: absolute;
  text-align: center;
}
.center-card{
  margin: 15px 15px;
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}
.flex-cards{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.image {
  top: -100px;
  width: 1300px;
  height: 650px;
  z-index: -1;
}

.width-550 {
  color: rgb(243, 238, 246);
  width: 550px;
}

.button-home{
  font-size: 1.5em;
  margin: 25px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: blueviolet;
}

.profile-card{
  background-color: rgba(32, 2, 65, 0.5);
  width: 450px;
  height: 300px;
  margin: 150px 0 0 400px;
  text-align: center;
}
.transparent{
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
}


.profile-card img{
  position: relative;
  margin: 10px 0 0 20px;
  text-align: center;
  z-index: 1;
}

/* From uiverse.io by @adamgiebl */
button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #38373c;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #38373c;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #38373c;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #38373c;
}

button:active {
  transform: scale(0.9);
}